<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/plantilla/template}">
<head>
<meta charset="UTF-8">
<title>Formulario de citas</title>
</head>
<body>
	<div layout:fragment="contenidoPagina">
		<form autocomplete="off" method="post" th:object="${cita}"
			th:action="@{/guardarCita}">
			<div class="mb-3">
				<label for="motivoCita" class="form-label">Motivo de cita</label> <input
					type="text" class="form-control" id="motivoCita"
					th:field="*{motivo}">
			</div>
			<div class="mb-3">
				<label for="fechaCita" class="form-label">Fecha de cita</label> <input
					type="date" class="form-control" id="fechaCita"
					th:field="*{fechaCita}">
			</div>
			<div class="mb-3">
				<label for="fechaCita" class="form-label">Mascota</label> <select
					class="form-control" th:field="*{fkMascota}">
					<option value="" selected>Seleccione mascota</option>
					<th:block th:each="mascota: ${mascotas}">
						<option th:value="${mascota.idMascota}"
							th:text="${mascota.nombreMascota} + ' Dueño: ' + ${mascota.fkDuenio.nombre} + ' ' + ${mascota.fkDuenio.apellido}"></option>
					</th:block>
				</select>
			</div>
			<div class="mb-3">
				<label for="fechaCita" class="form-label">Servicio</label> <select
					class="form-control" th:field="*{fkServicio}">
					<option value="" selected>Seleccione servicio</option>
					<th:block th:each="servicio: ${servicios}">
						<option th:value="${servicio.idServicio}"
							th:text="${servicio.nombreServicio} + ' Consultorio: ' + ${servicio.consultorio}"></option>
					</th:block>
				</select>
			</div>
			<input type="hidden" th:field="*{idCita}">
			<button type="submit" class="btn btn-primary">Guardar</button>
		</form>
	</div>
</body>
</html>