<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/plantilla/template}">
<head>
<meta charset="UTF-8">
<title>Formulario de usuarios</title>
</head>
<body>
	<div layout:fragment="contenidoPagina">
		<form th:action="@{/guardarusuario}" method="post" th:object="${usuario}" autocomplete="off">
			<div class="mb-3">
				<label for="nombreUsuario" class="form-label">Nombre de
					usuario</label> <input type="text" class="form-control" id="nombreUsuario" th:field="*{nombreUsuario}">
			</div>
			<div class="mb-3">
				<label for="email" class="form-label">Email</label> <input
					type="email" class="form-control" id="email" th:field="*{email}">
			</div>
			<div class="mb-3">
				<label for="clave" class="form-label">Clave</label> <input
					type="text" class="form-control" id="clave" th:field="*{clave}">
			</div>
			<input type="hidden" th:field="*{idUsuario}">
			<button type="submit" class="btn btn-primary">Guardar</button>
		</form>
	</div>
</body>
</html>