<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/plantilla/template}">
<head>
<meta charset="UTF-8">
<title>Lista de dueños</title>
</head>
<body>
	<div layout:fragment="contenidoPagina">
		<table id="data-table-buttons"
			class="table table-striped table-bordered align-middle">
			<thead>
				<tr>
					<th class="text-nowrap">Cédula dueño</th>
					<th class="text-nowrap">Nombre</th>
					<th class="text-nowrap">Apellido</th>
					<th class="text-nowrap">Telefono</th>
					<th class="text-nowrap">Email</th>
					<th class="text-nowrap">Acción</th>
				</tr>
			</thead>
			<tbody>
				<tr class="odd gradeX" th:each="duenio: ${duenios}">
					<td th:text="${duenio.cedula}"></td>
					<td th:text="${duenio.nombre}"></td>
					<td th:text="${duenio.apellido}"></td>
					<td th:text="${duenio.telefono}"></td>
					<td th:text="${duenio.email}"></td>
					<td><a class="btn btn-danger" th:href="@{/eliminarduenio/} + ${duenio.idDuenio}" onclick="return confirm('Esta seguro en eliminar el dueño?')"> <i class="fa fa-trash"></i>
					</a> <a class="btn btn-primary" th:href="@{/editarduenio/} + ${duenio.idDuenio}"> <i class="fa fa-pencil"></i>
					</a></td>
				</tr>

			</tbody>
		</table>
	</div>
</body>
</html>