<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/plantilla/template}">
<head>
<meta charset="UTF-8">
<title>Formulario de servicio</title>
</head>
<body>
	<div layout:fragment="contenidoPagina">
		<form autocomplete="off" th:action="@{/guardarservicio}" th:object="${servicio}" method="post">
			<div class="mb-3">
				<label for="nombreServicio" class="form-label">Nombre de
					servicio</label> <input type="text" class="form-control"
					id="nombreServicio" th:field="*{nombreServicio}">
			</div>
			<div class="mb-3">
				<label for="consultorio" class="form-label">Consultorio</label> <input
					type="text" class="form-control" id="consultorio" th:field="*{consultorio}">
			</div>
			<div class="mb-3">
				<label for="tipoServicio" class="form-label">Tipo de
					servicio</label> <input type="text" class="form-control" id="tipoServicio" th:field="*{tipoServicio}">
			</div>
			<input type="hidden" th:field="*{idServicio}">
			<button type="submit" class="btn btn-primary">Guardar</button>
		</form>
	</div>
</body>
</html>