<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/plantilla/template}">
<head>
<meta charset="UTF-8">
<title>Listado de servicios</title>
</head>
<body>
	<div layout:fragment="contenidoPagina">
		<table id="data-table-buttons"
			class="table table-striped table-bordered align-middle">
			<thead>
				<tr>
					<th class="text-nowrap">Codigo servicio</th>
					<th class="text-nowrap">Nombre servicio</th>
					<th class="text-nowrap">Consultorio</th>
					<th class="text-nowrap">Tipo servicio</th>
					<th class="text-nowrap">Acción</th>
				</tr>
			</thead>
			<tbody>
				<tr class="odd gradeX" th:each="servicio: ${servicios}">
					<td th:text="${servicio.idServicio}"></td>
					<td th:text="${servicio.nombreServicio}"></td>
					<td th:text="${servicio.consultorio}"></td>
					<td th:text="${servicio.tipoServicio}"></td>
					<td><a class="btn btn-danger" th:href="@{/eliminarservicio/} + ${servicio.idServicio}" onclick="return confirm('Esta seguro que desea eliminar el servicio?')"> <i class="fa fa-trash"></i>
					</a> <a class="btn btn-primary" th:href="@{/editarservicio/} + ${servicio.idServicio}"> <i class="fa fa-pencil"></i>
					</a></td>
				</tr>

			</tbody>
		</table>
	</div>
</body>
</html>