<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/plantilla/template}">
<head>
<meta charset="UTF-8">
<title>PetsHome</title>
</head>
<body>
	<div layout:fragment="contenidoPagina">
		<div class="jumbotron">
			<h1 class="display-4">PetsHome</h1>
			<p class="lead"> Los dueños de mascotas pueden agendar citas con profesionales de la salud animal y elegir entre una amplia variedad de servicios para sus mascotas.</p>
			<hr class="my-4">
			<p>Steve Carvajal.</p>			
		</div>
	</div>
</body>
</html>