<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/plantilla/template}">
<head>
<meta charset="UTF-8">
<title>Lista de direcciones</title>
</head>
<body>
	<div layout:fragment="contenidoPagina">
		<table id="data-table-buttons"
			class="table table-striped table-bordered align-middle">
			<thead>
				<tr>
					<th class="text-nowrap">Codigo direccion</th>
					<th class="text-nowrap">Calle principal</th>
					<th class="text-nowrap">Calle secundaria</th>
					<th class="text-nowrap">Numeración</th>
					<th class="text-nowrap">Referencia</th>
					<th class="text-nowrap">Codigo postal</th>
					<th class="text-nowrap">Ciudad</th>
					<th class="text-nowrap">Provincia</th>
					<th class="text-nowrap">Pais</th>
					<th class="text-nowrap">Acción</th>
				</tr>
			</thead>
			<tbody>
				<tr class="odd gradeX" th:each="direccion: ${direcciones}">
					<td th:text="${direccion.idDireccion}"></td>
					<td th:text="${direccion.callePrincipal}"></td>
					<td th:text="${direccion.calleSecundaria}"></td>
					<td th:text="${direccion.numeracion}"></td>
					<td th:text="${direccion.referencia}"></td>
					<td th:text="${direccion.codigoPostal}"></td>
					<td th:text="${direccion.ciudad}"></td>
					<td th:text="${direccion.provincia}"></td>
					<td th:text="${direccion.pais}"></td>
					<td>
						<a class="btn btn-danger" th:href="@{/eliminarDireccion/} + ${direccion.idDireccion}" onclick="return confirm('Esta seguro de eliminar la dirección')"> 
							<i class="fa fa-trash"></i>
						</a> 
						<a class="btn btn-primary" th:href="@{/editarDireccion/} + ${direccion.idDireccion}"> 
							<i class="fa fa-pencil"></i>
						</a>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
</body>
</html>