<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/plantilla/template}">
<head>
<meta charset="UTF-8">
<title>Formulario de mascotas</title>
</head>
<body>
	<div layout:fragment="contenidoPagina">
		<form autocomplete="off" th:action="@{/guardarmascota}" th:object="${mascota}" method="post">
			<div class="mb-3">
				<label for="nombreMascota" class="form-label">Nombre de
					mascota</label> <input type="text" class="form-control" id="nombreMascota" th:field="*{nombreMascota}">
			</div>
			<div class="mb-3">
				<label for="especie" class="form-label">Especie</label> <input
					type="text" class="form-control" id="especie" th:field="*{especie}">
			</div>
			<div class="mb-3">
				<label for="raza" class="form-label">Raza</label> <input type="text"
					class="form-control" id="raza" th:field="*{raza}">
			</div>
			<div class="mb-3">
				<label for="genero" class="form-label">Genero</label> <input
					type="text" class="form-control" id="genero" th:field="*{genero}">
			</div>
			<div class="mb-3">
				<label for="fechaNacimiento" class="form-label">Fecha
					nacimiento</label> <input type="date" class="form-control"
					id="fechaNacimiento" th:field="*{fechaNacimiento}">
			</div>
			<input type="hidden" th:field="*{idMascota}">
			<button type="submit" class="btn btn-primary">Guardar</button>
		</form>
	</div>
</body>
</html>